/* CSS */
.eea-annotator {
  float: right;
  margin-top: -2em;
}

#content .eea-annotator .annotator-button,
.eea-annotator .annotator-button {
  float: right;
  background: transparent url('++resource++eea.annotator.images/icon.png') no-repeat center center;
  width: 16px;
  height: 32px;
  border: none;
}

#content .eea-annotator .annotator-button span,
.eea-annotator .annotator-button span {
  display: none;
}

.eea-annotator .annotator-disabled {
  opacity: 0.45;
}

/* Portlet */
dl.portlet dd.annotator-portlet-body {
    padding: 0;
    margin: 0;
}

.annotator-portlet {
}

.annotator-portlet .portletHeader {
  line-height: 1.4;
  margin: 0;
  padding: 0 0 0.5em 0;
  font-size: 160%;
  font-weight: normal;
  padding: 0.5em;
}

.annotator-portlet.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200100;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: #fff;
  padding: 0 2em !important;
  box-shadow: 0 0 50px #333;
  /*-webkit-box-shadow: inset 5px 0 5px rgba(0, 0, 0, 0.15);*/
     /*-moz-box-shadow: inset 5px 0 5px rgba(0,0,0,.15);*/
          /*box-shadow: inset 5px 0 5px rgba(0, 0, 0, 0.15);*/
}

.annotator-portlet.fullscreen .portletHeader {
  background-color: #fff;
  padding-top: 1em;
}

#portal-column-one .annotator-portlet.fullscreen {
  left: 0;
  right: auto;
  /*-webkit-box-shadow: inset -5px 0 5px rgba(0, 0, 0, 0.15);*/
     /*-moz-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);*/
          /*box-shadow: inset -5px 0 5px rgba(0, 0, 0, 0.15);*/
}

.annotator-subscription-button,
.annotator-fullscreen-button {
  float: right;
  cursor: pointer;
}

.annotator-portlet .annotator-slide-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  display: table;
  height: 100%;
}

.annotator-portlet .slide-right {
  left: 0;
  cursor: pointer;
}

.annotator-slide-button .eea-icon {
  display: table-cell;
  vertical-align: middle;
}

.annotator-portlet.fullscreen::-webkit-scrollbar {
  width: 7px;
}

.annotator-portlet.fullscreen::-webkit-scrollbar-track {
  background-color: #fff;
}

.annotator-portlet.fullscreen::-webkit-scrollbar-track:hover {
  background-color: #eee;
  border: 1px solid #ccc;
}

.annotator-portlet.fullscreen::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.annotator-portlet.fullscreen::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.eea-accordion-panel > h2 {
  background-color: #E2E2E2;
  border: 1px solid #E0E0E0;
  margin: 0;
  font-size: 115%;
  color: #00446A;
  line-height: 3em;
  padding: 0 10px;
  font-weight: bold;
}

.eea-accordion-panel > h2 .eea-icon:before {
  content: "\f053";
}

.eea-accordion-panel h2:hover > .eea-icon:before,
.eea-accordion-panel .eea-accordion-title.current > .eea-icon:before {
    content: "\f078";
}
